body
{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    height: 3650px;
    width: 1440px;
    left: 0%;
    right: 0%;
    top: 0px;
}

main
{
    width: 1440px;
    height: 3650px;
}

.container-navegator
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 500px;
    width: 100%;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

.menu-title h3
{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.nav-logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 134px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.navegator-links
{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 600px;
}

.element-nav
{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.element-nav:hover
{
    color: white;
    cursor: pointer;
}

.about-me
{
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse;
}

img.profile
{
    border-radius: 50%;
    background-image: url("/img/feliz.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 340px;
    margin-left: 32px;
}

.information
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 751px;
    height: 246px;
    flex: none;
    flex-grow: 0;
}

.information p
{
    width: 751px;
    font-family: 'Raleway';
    font-style: normal;
    color: #464646;
    align-self: stretch;
    flex-grow: 0;
}

.introduction
{
    font-weight: 700;
    height: 79px;
    font-size: 50px;
    line-height: 61px;
    order: 0;
}

.extra-info
{
    font-weight: 400;
    font-size: 22px;
    height: 52px;
    line-height: 26px;
    order: 1;
}

.nav-social
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px;
    gap: 32px;
    width: 467px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.element-social
{
    width: 50px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex: none;
    text-decoration: none;
    color: black;
}

.element-social:hover
{
    color: white;
    cursor: pointer;
}


section.description
{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: lightblue;
    width: 96.5%;
    height: 400px;
    padding: 64px;
    border-radius: 5px;
    margin-left: -8px;
    margin-top: 12%;
}

div.container-description
{
    width: 60%;
}

div.container-description h2.description-title,
p.description-text
{
    font-style: normal;
    font-family: 'Raleway';
    color: #464646;
}


div.container-description h2.description-title
{
    font-size: 400%;
    font-weight: 700;
    line-height: 100%;
}

div.container-description p.description-text
{
    font-size: 150%;
    font-weight: 500;
    line-height: 100%;
}


section.skills-section h2.title-skills
{
    font-family: 'Raleway';
    font-style:normal;
    text-align: center;
    color: #464646;
}

div.container-skills
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.container-skills div.skills
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: white;
    width: 200px;
    height: 200px;
}

div.skills i
{
    padding: 20%;
    font-size: 550%;
}



span.description-skill
{
    font-family: 'Raleway';
    font-style:normal;
    text-align: center;
    color: #464646;
}

section.academic-formation
{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 99%;
    height: 10%;
    padding: 45px;
    border-radius: 5px;
    margin-left: -8px;
    margin-top: 12%;
}

section.academic-formation h2.title-formation, span.info-formation
{
    font-family: 'Raleway';
    font-style:normal;
    text-align: center;
    color: #464646;
    font-weight: 1000;
}

section.academic-formation div.container-formation
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
}

div.container-formation div.formation
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.formation img.formation-img
{
    border-radius: 8%;
}

section.proyects h2.title-proyects
{
    font-family: 'Raleway';
    font-style:normal;
    text-align: center;
    color: #464646;
    font-weight: 1000;
}

section.proyects div.container-proyects
{
    padding: 3%;
}

div.first-proyect
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

div.container-img-proyect
{
    max-width: 150%;
}

div.container-img-proyect img.info-proyect
{
    border-radius: 8%;
}


div.first-proyect div.container-description-proyect
{
    max-width: 50%;
    text-align: start;
    font-family: 'Raleway';
    font-style:normal;
    color: #464646;
    font-weight: 1000;
}


div.container-description-proyect
{
    width: 45%;
    height: 280px;
    background: white;
    border-radius: 5%;
}

div.container-img-proyect
{
    position: relative;
    display: inline-block;
}

div.container-img-proyect:hover img
{
    filter: blur(8px);
    transition: filter 0.2ms ease-in-out;
}

div.icons-source
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    align-items: center;
}

 div.container-img-proyect img:hover + .icons-source, .icons-source:hover 
{
    opacity: 1;
}


.icons-source a
{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 30px; 
}

.icons-source a:hover
{
    color: #333;
}


div.container-forms
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.container-forms img.img-contact
{
    width: 50%;
    border-radius: 10%;

}

section.forms
{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    width: 99.2%;
    padding: 45px;
    margin-left: -8px;
    margin-top: 12%;
}

form.contact
{
    margin: -15px;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 10px;
    width: 450px;
    height: 360px;
}

div.container-forms h2.title-contact
{
    font-family: 'Raleway';
    font-style:normal;
    text-align:start;
    color: #464646;
    font-weight: 1000;
    font-size: 30px;
}

div.container-forms div.container-contact
{
    width: 450px;
    height: 450px;
}

form.contact label.label-forms
{
    font-family: 'Raleway';
    font-style:normal;
    text-align:start;
    color: #464646;
    font-weight: 1000;
}

form.contact input.input-info
{
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 1%;
    width: 428px;
    height: 50px;
    outline: none;
}

.input-info[type="text"]:focus,.input-info[type="email"]:focus
{
    border-bottom: 2px solid blue;
}

form.contact input.input-message
{
    border: none;
    border-radius: 3px;
    height: 200px;
    width: 435px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
}

.input-message[type="text"]:focus
{
    border-bottom: 2px solid blue;
}

button.send-button
{
    font-family: 'Raleway';
    font-style:normal;
    color: #E5E5E5;
    font-weight: 1000;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.send-button:hover
{
    background-color: #4CAF50; /* Green */
    color: white;
}

footer.info-develop
{
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style:normal;
    text-align:start;
    color: #464646;
    font-weight: 1000;
    margin-left: 15px;
}


@media screen and (max-width: 320px) and (max-width: 1024px) {
    main
    {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .description
    {
        width: 96.5%;
    }

    div.container-skills
    {
        gap: 25px;
    }

    div.first-proyect
    {
        gap: 25px;
    }
}
